<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Pls enter your email to request password reset</h5>

   <div class="form-floating mb-3">
        <input [(ngModel)]="email" type="email" class="form-control" id="floatingEmail" placeholder="Email">
        <label for="floatingEmail">Email Address</label>
      </div>
   
    
    <div class="mb-3">
        <button (click)="forgotPassword()" type="button" class="btn btn-success mb-3">Send Password Reset</button>
    </div>
    </div>
  </div>

  <div class="form-floating mb-3">
    <button routerLink="/singin" type="button" class="btn btn-success mb-3">Log In</button>
    </div>
 -->



    <div class="container">
      <div class="screen">
        <div class="screen__content">
          <form class="login">
            <div class="login__field">
              <h5 class="card-title">Add meg az E-mail címedet</h5>
              <i class="login__icon fas fa-user"></i>
              <input type="email" name="email" [(ngModel)]="email" class="login__input" placeholder="E-mail">
            </div>
            <button (click)="forgotPassword()" class="button login__submit">
              <span class="button__text">Jelszó helyreállítás küldése</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>				
          </form>
          <div class="social-login">
            <div class="mb-3">
                        <button routerLink="/registration" type="button" class="button-92 ">Regisztráció</button>
                    </div>
                    <div class="mb-3">
                        <button routerLink="/login" type="button" class="button-91">Bejelentkezés</button>
                    </div>
                    <div class="mb-3">
                        <button routerLink="/verificationemail" type="button" class="button-91">E-mail visszaigazolás</button>
                    </div>
          </div>
        </div>
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>		
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
        </div>		
      </div>
    </div>
    
    